nav img{
  width: 45px;
  height: auto;
}
nav{
  display: flex;
  justify-content: space-between;
  background-color: hsl(199, 69%, 68%);
}
nav li{
  display: inline-block;
}
section:nth-of-type(1){
  display: flex;
}
article > div{
  display: flex;
}
aside{
  background-color: purple;
}
section:nth-of-type(2){
  display: flex;
}
section:nth-of-type(2) img{
  width: 100%;
}
