body{
  margin: 0;
}
h1, h2, h3, ul, ol{
  margin: 0;
}
header{
  background-color: hsl(109, 34%, 67%);
  padding: 20px;
}
nav{
  background-color: rgb(158, 79, 79);
}
nav img{
  width: 65px;
  height: auto;
}
nav h1{
  float: left;
}
nav ul li{
  display: inline-block;
  float: right;
}
nav::after, article::after, section::after{
  content: "";
  display: block;
  clear: both;
}
article{
  background-color: yellow;
  width: 60%;
  float: left;
}
article div:nth-of-type(1){
  width: 60%;
  float: left;
}
article div:nth-of-type(2){
  width: 40%;
  float: left;
}
article img{
  width: 100%;
}
aside{
  width: 40%;
  background-color: hsl(302, 29%, 53%);
  float: left;
}
 section:nth-of-type(1){
   background-color: hsl(211, 26%, 50%);
 }
  section:nth-of-type(2) div{
	width: 25%;
	float: left;
  }
section:nth-of-type(2) img{
  	width: 100%;
}
  section:nth-of-type(2){
	background-color: hsl(43, 74%, 58%);
  }
