@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
body{
  margin: 0;
  font-family: 'Roboto Slab';
}
ul{
  list-style: none;
  padding: 0;
}
p{
  color: darken($terciary-color, 40%);
  font-size:11px;
}
a{
  text-decoration: none;
}
h1, h2, h3, h4{
  color: $secondary-color;
  font-weight: 700;
}
.btn{
  color: $primary-color;
  border: 1.5px solid $primary-color;
  padding: 5px 20px;
  margin: 20px 0;
  border-radius: 5px;
  display: inline-block;
  font-size: 13px;
}
.fa{
  color: $primary-color;
  font-size: 20px;
  margin: 5px;
}
.open{
  left: 0px;
}
.sno{
  display: none;
}
i.fa-bars{
  position: absolute;
  right: -40px;
  top: 25px;
  font-size: 25px;
  cursor: pointer;
}
#close{
  display: none;
}
h3 + hr{
  border: 1.5px solid $primary-color;
  transform: translateY(-25px);
  position: absolute;
}
div.container{
  background-color: $terciary-color;
  footer hr{
    width: 110px;
  }
}
nav{
  position: absolute;
  left: -300px;
  width: 300px;
  margin-right: 10px;
  transition: left 250ms ease-in-out;
  > div{
    background-color: darken($terciary-color, 5%);
    padding: 20px;
    input{
      margin: 5px 0;
      width: 90%;
      padding: 7px;
      border-radius: 3px;
      border: 1px solid darken($terciary-color, 30%);
    }
  }
  h3{
    margin: 20px 0;
  }
  h3 + hr:nth-of-type(1){
    width: 60px;
  }
  h3 + hr:nth-of-type(2){
    width: 120px;
  }
  ul li{
    border-bottom: 1px solid darken($terciary-color, 15%);
  }
  ul:nth-of-type(1) li a{
    display: block;
    color: $secondary-color;
    transition: color 200ms ease-in-out;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 0;
    letter-spacing: 1px;
  }
  li a:hover{
    color: $primary-color;
  }
  ul:nth-of-type(2) .img{
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    height: 157px;
  }

  ul:nth-of-type(2) a:last-of-type{
    height: auto;
  }
  ul:nth-of-type(2) li{
    margin: 20px 0;
  }

  img{
    width: 100%;
    border-radius: 10px;
    transition: transform 250ms ease-in-out;
  }
  img:hover{
    transform: scale(1.1);
  }
  footer div{
    border-bottom: 1px dotted darken($terciary-color, 25%);
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  footer div:last-of-type{
    margin-bottom: 40px;
  }
  footer div a{
    color:  darken($terciary-color, 40%);
    font-size: 12px;
    border-bottom: 1px dotted darken($terciary-color, 40%);
  }
  footer div a:hover{
    color:$primary-color;
  }
}
.small{
 width: calc(90vw - 300px);
}

body > div{
  width: 90vw;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
  
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid $primary-color;

    i.fa{
      color: $secondary-color;
    }
  }
}
body > div:after{
  content: "";
  display: block;
  clear: both;
}
