#content.active{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
}

#content.active form{
  background-color: hsl(230, 37%, 80%);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 15px;
  width: 200px;
  box-shadow: 4px 4px 16px 10px hsla(0, 0%, 0%, 0.5);
}

#content span{
  align-self: flex-end;
  margin-top: 10px;
}

#content input[type='text']{
  padding: 5px;
  font-size: inherit;
  font-family: inherit;
  background-color: hsl(253, 49%, 95%)
}

#content input[type='submit']{
  border-radius: 5px;
  border: 1.5px solid hsl(150, 54%, 48%);
  background-color: hsl(150, 74%, 95%);
  color: hsl(150, 54%, 48%);
  margin-left: 5px;
}

#content input[type='button']{
  border-radius: 5px;
  border: 1.5px solid hsl(0, 64%, 68%);
  background-color: hsl(0, 84%, 95%);
  color: hsl(0, 64%, 68%);
}
