@import 'https://fonts.googleapis.com/css?family=Roboto';
body{
  margin: 0;
  font-family: roboto;
}
header{
  background-image: url(../img/home-slider-1-slide-2.jpg);
  min-height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  color: white;
}
/*NAV*/
nav{
  display: flex;
  justify-content: space-between;

}
nav h1{
  background-image: url(../img/logo-229x39.png);
  background-repeat: no-repeat;
}
nav h1 a{
  width: 229px;
  height: 39px;
  display: block;
  color: transparent;
}
nav ul{
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 125%;
}
nav ul li a{
  color: white;
  text-decoration: none;
}
nav ul ul{
  width: 200px;
  text-align: center;
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  background-color: hsla(0, 0%, 0%, 0.8);
  font-size: 100%;
}
nav ul ul li a{
  display: block;
  padding: 10px 0px;
}
nav > ul > li{
  position: relative;
}
nav > ul > li:hover ul{
  display: block;
}
nav > ul > li::after{
  content: "/";
  display: inline-block;
  margin: 0 10px;
  color: white;
}
nav > ul > li:last-of-type::after{
  content: none;
}
/*Car Title*/
header h2{
  margin: auto;
  font-size: 17vw;
}
/*SECTION GALLERY*/
#gallery{
  display: flex;
  flex-wrap: wrap;
}
#gallery > div{
  width: 25%;
  height: 28vw;
  overflow: hidden;
  position: relative;
}
#gallery > div > img{
  width: 100%;
  transform: scale(1.5);
}
#gallery div:hover div{
  /*display: flex;*/
  opacity: 1;
  border-radius: 0%;
  transform: scale(1);
}

#gallery div div{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  transform: scale(.75);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsla(198, 100%, 58%, 0.8);
  border-radius: 100%;
  opacity: 0;
  transition: 200ms;
}
/*CAR NEWS*/
#news{
  padding: 3%;
  position: relative;
}
#news h3{
  font-size: 5vw;
}
div.hr::before{
  content: "";
  height: 6px;
  width: 80px;
  display: block;
  background-color: #29c0ff;
  position: absolute;
  top: 25%;
}
div.hr::after{
  content: "";
  height: 1px;
  width: 90vw;
  display: block;
  background-color:hsl(180, 1%, 84%);
  position: absolute;
  top: 25.8%;
}
#news div.container{
  display: flex;
  margin: auto;
  justify-content: space-between;
}
#news div.container div{
  width: 22vw;
}
#news div.container div img{
  width: 100%;
}
#news div.container div h4 a{
  text-decoration: none;
  color: black;
}
#news div.container div p{
  color: hsl(180, 1%, 24%)
}
#news div.container div > a{
  text-decoration: none;
  color: #29c0ff;
  padding: 2px;
  transition: color 200ms ease-in-out;
}
#news div.container div > a:hover{
  color:black;
}
.fa-arrow-right{
  transition: font-size 200ms ease-in-out;
}
#news div.container div > a:hover .fa-arrow-right{
  font-size: 17px;
}
/*STATS*/
#stats{
  display: flex;
}
#stats div.hr::before{
  top: 33%;
}
#stats div.hr::after{
  top: 34%;
  width: 36vw;
}
#stats div.container2{
  position: absolute;
  left: 60vw;
}
#stats div.container2 > div{
  display: flex;
  justify-content: space-between;
}
#stats div.container2 h3{
  font-size: 5vw;
}
div.container2  div.percentbar::before{
  content: "";
  height: 6px;
  display: block;
  background-color: #29c0ff;
  position: absolute;
}
div.container2 div.percentbar::after{
  content: "";
  height: 6px;
  display: block;
  background-color:hsl(320, 2%, 53%);
  position: absolute;
  right:0;
}
div.container2  div.a::before{
  width: 54%;
}
div.container2  div.b::before{
  width: 62%;
}
div.container2  div.c::before{
  width: 42%;
}
div.container2  div.d::before{
  width: 78%;
}
div.container2 div.a::after{
  width: 46%;
}
div.container2 div.b::after{
  width: 38%;
}
div.container2 div.c::after{
  width: 58%;
}
div.container2 div.d::after{
  width: 22%;
}
