body{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 100px);
  grid-template-areas:
    '. . . . header header header'
    '. . main main main . .'
    'aside . main main main . .'
    'aside foot foot . . . .';
  grid-gap:10px;
}
.a{
  background-color: hsl(312, 92%, 38%);
  grid-area:header;
  /*grid-column: span 2;*/
}
.b{
  background-color: hsl(200, 67%, 17%);
  grid-area:aside;
  /*grid-column:1 / span 3;*/
  /*grid-row: 2 /span 3;*/
}
.c{
  background-color: hsl(114, 65%, 28%);
  grid-area:main;
  /*grid-column:2;*/
  /*grid-row:3;*/
}
.d{
  background-color: hsl(306, 92%, 10%);
  grid-area:foot;
  /*grid-column:1;*/
  /*grid-row:1;*/
}
