body{
  margin: 0;
  font-family: sans-serif;
}
section#contact{
  text-align: center;
}
address a{
  display: block;
  text-decoration: none;
  color:hsl(305, 63%, 70%)
}
.content{
  width: 50%;
  margin: 100px auto;
}
form{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
form div{
  display: flex;
}
form input[type="text"]{
  margin-right: 5px;
}
form input[type="text"], form input[type="email"]{
  flex: 1;
}
form input[type="text"], form input[type="email"], form textarea{
  margin-bottom: 10px;
  background-color: hsl(279, 100%, 95%);
  border: none;
  padding: 5px;
  color: hsl(279, 100%, 30%);
}
form textarea{
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 300px;
  min-height: 100px;
  box-sizing: border-box;
}
[type="submit"]{
  align-self: flex-end;
  border: none;
  padding: 10px 15px;
  background-color: hsl(279, 100%, 30%);
}
