body{
  margin: 0;
}
header{
  background-image: url(../img/background.jpg);
  color: white;
  height:600px;
}
img.logo{
  height: 60px;
  width: auto;
  float: left;
  margin-left: 5%;
}
h1{
  float: left;
}
h1::after{
  font-size: 15px;
  content: "Web Development Co.";
  display: block;
  clear: both;
}
h1{
  margin: 0;
  font-size: 50px;
}
span{
  color: hsl(206, 51%, 56%)
}

ul{
  width: 50%;
  margin: 0;
  float: right;

}
ul li{
  font-size: 20px;
  display: inline-block;
  padding: 5%;
}
a{
  text-decoration: none;
  color: rgb(99, 88, 91);
}
ul li:first-of-type{
  text-decoration: underline;
  color: rgb(99, 88, 91);
}
img.other{
  position: absolute;
  top: 50%;
  left: calc(50% - 280px);
  width: 600px;
  height: auto;
}
