body{
  margin: 0;
}
main ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

main ul li{
  width: 500px;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
}

main ul li img{
  width: 100%;
}
