main{
 display: flex;
}
div{
  width: calc(100% / 3);
  margin: 5px;
  height: 120px;
  background-color: hsla(210, 89%, 37%, 0.73);
}
div:hover{
  color: white;
  text-align: center;
}
img{
  width: 100%;
}
/*img:nth-of-type(2){
  left: 33.7%;
  transition: transform 2ms ease-in-out;
}
img:hover{
  transform: scale(1.5);
}*/
