#modal.active{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal form{
  background-color: hsl(0, 0%, 98%);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 4px 4px 16px hsla(0, 0%, 0%, 0.5);
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

#modal span{
  align-self: flex-end;
  margin-top: 8px;
}

#modal span input{
  margin: 5px;
}

#modal input[type='text']{
  font-family: inherit;
  font-size: inherit;
  padding: 5px;
}
