p{
  display: flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

}
p{
  height: 500px;
  background-color:hsl(42, 51%, 46%);
}
a{
  display: inline-block;
  width:50px;
  /*height: 50px;*/
  background-color: rgb(149, 179, 5);
  border-radius: 100%;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 24px;
  text-decoration: none;
}
a:nth-of-type(even){
  align-self: flex-end;
}
a:nth-of-type(1){
  order: 1;
}
a:nth-of-type(2){
  order: 2;
}
