body{
  margin: 0;
  background-color: blue;
}
nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: #ccc;
  padding: 20px 0;
}
main{
  text-align: center;
}
main h1{
  text-shadow: 0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.15);
}
img{
  width: 35%;
}
footer{
  background-color: hsl(0, 0%,7%);
  color: white;
  padding: 40px 0;
}
@media print{
  nav{
    display: none;
  }
  img{
    float: left;
    border-radius: 100%;
    -webkit-shape-outside: circle(55%);
  }
  footer{
    display: none;
  }
}
@media screen and (max-width:996px){
  body{
    background-color: salmon;
  }
}
@media screen and (max-width: 768px){
  body{
    background-color: red;
  }
}
@media screen and (max-width:500px){
  body{
    background-color: green;
  }
}
